body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    background-color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #e74c3c;
}

.back-link {
    text-align: center;
    margin-top: 25px;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
    text-align: right;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: #e74c3c;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
}


.details {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Stil für Flash-Nachrichten */
.flash-messages {
    margin-bottom: 20px;
}

.flash-message.danger {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.flash-message.success {
    background-color: lightgreen;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

/* Gemeinsame Styles für Eingabefelder */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #3498db;
}

/* Gemeinsame Styles für Container */
.container {
    width: 20%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Form grid 4x2 */
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.submit-button-container {
    text-align: center;
    grid-column: span 2;
    margin-top: 5px;
}

.submit-button-container input[type="submit"] {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button-container input[type="submit"]:hover {
    background-color: #5a6268;
}

input[type="submit"] {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #5a6268;
}

/* Add employee form */
/* Stile für den äußeren Container, der die Formularelemente enthält */
.add-employee-form-container {
  border: 1px solid #ccc; /* Rahmen um die Formularelemente */
  padding: 20px; /* Innenabstand */
  border-radius: 4px; /* Abgerundete Ecken für den Rahmen */
  max-width: 60%; /* Maximalbreite des Containers in Prozent */
  margin: 20px auto 0; /* Zentrieren des Containers horizontal und Abstand nach oben hinzufügen */
  text-align: left; /* Zentriert den Text im Button horizontal */
}

/* Stile für die Formulargruppen */
.add-employee-form-group {
  width: 100%; /* Volle Breite für die Formulargruppen */
  margin-bottom: 10px; /* Abstand nach unten hinzufügen */
}

/* Stile für die Labels */
.add-employee-form-group label {
  margin-bottom: 5px;
}

/* Stile für die Textfelder und das Textarea */
.add-employee-input,
.add-employee-dropdown {
  width: 100%; /* Volle Breite für die Textfelder, das Dropdown-Menü und die Textarea */
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ändern Sie das Box-Modell auf border-box */
}

/* Stile für die Textarea */
.add-employee-textarea {
  width: 100%; /* Volle Breite für die Textarea */
  height: 200px; /* Höhe der Textarea */
  padding: 5px; /* Padding hinzufügen */
  font-size: 16px;
  border: 1px solid #ccc; /* Border hinzufügen */
  border-radius: 4px;
  box-sizing: border-box; /* Ändern Sie das Box-Modell auf border-box */
}


/* Stile für den Submit-Button */
.add-employee-submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto 0; /* Zentrieren des Submit-Buttons horizontal und Abstand nach oben hinzufügen */
  display: block; /* Ändert die Anzeige auf Blockelement */
  width: fit-content; /* Breite auf die Inhaltsgröße anpassen */
}

.add-employee-submit:hover {
  background-color: #0056b3;
}

