{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h2>Mitarbeiter hinzufügen</h2>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-grid">
            <div class="input-container">
                <label>{{ form.name.label.text }}:</label>
                {{ form.name(class='input-field') }}
            </div>
            <div class="input-container">
                <label>{{ form.department.label.text }}:</label>
                {{ form.department(class='input-field') }}
            </div>
            <div class="input-container">
                <label>{{ form.position.label.text }}:</label>
                {{ form.position(class='input-field') }}
    <!--            TODO default wert aus dep-->
            </div>
            <div class="input-container">
                <label>{{ form.ooc_age.label.text }}:</label>
                {{ form.ooc_age(class='input-field') }}
            </div>
            <div class="input-container">
                <label>{{ form.ig_age.label.text }}:</label>
                {{ form.ig_age(class='input-field') }}
            </div>
            <div class="input-container">
                <label>{{ form.hire_date.label.text }}:</label>
                {{ form.hire_date(class='input-field') }}
            </div>
            <div class="input-container">
                <label>{{ form.termination_date.label.text }}:</label>
                {{ form.termination_date(class='input-field') }}
            </div>
            <div class="input-container">
                <label>{{ form.discord_handle.label.text }}:</label>
                {{ form.discord_handle(class='input-field') }}
            </div>

            <div class="submit-button-container">
                {{ form.submit() }}
            </div>
        </div>
    </form>
</div>

<div class="back-link">
    <a href="{{ url_for('department_list', dep=dep) }}">Zurück zur Abteilungsliste</a>
</div>

{% endblock %}
