{% extends "layout.html" %}

{% block content %}
    <!-- Hier die Flash-Nachrichten anzeigen -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}" data-duration="{{ message.duration }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<div class="details">
    <h1>{{ employee.name }}</h1>
    <p><strong>Abteilung:</strong> {{ employee.department }}</p>
    <p><strong>Position:</strong> {{ employee.position }}</p>
    <p><strong>OOC-Alter:</strong> {{ employee.ooc_age }}</p>
    <p><strong>IG-Alter:</strong> {{ employee.ig_age }}</p>
    <p><strong>Einstellungsdatum:</strong> {{ employee.hire_date.strftime('%d.%m.%Y') }}</p>
    <p><strong>Kündigungsdatum:</strong> {{ employee.termination_date }}</p>
    <p><strong>Discord Handle:</strong> {{ employee.discord_handle }}</p>
</div>

<div class="details">
    <h2>Letzte Akteneinträge</h2>
    <ul>
        {% for note in employee.notes|sort(attribute='created_at')|reverse %}
            {% if loop.index <= 5 %}
                <li>{{ note.creator_name.title() }} - {{ note.created_at.strftime('%d.%m.%Y %H:%M Uhr') }}:<br>
                    {% if note.note_type == 'notiz' %}
                        <span class="notiz">{{ note.note_type.capitalize() }}</span>: {{ note.text }}
                    {% elif note.note_type == 'negativ' %}
                        <span class="negativ">{{ note.note_type.capitalize() }}</span>: {{ note.text }}
                    {% elif note.note_type == 'positiv' %}
                        <span class="positiv">{{ note.note_type.capitalize() }}</span>: {{ note.text }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="#">Alle Einträge anzeigen</a>
</div>


<div class="back-link">
    <a href="{{ url_for('add_employee_note', employee=employee.name, employee_id=employee_id) }}">Akteneintrag hinzufügen</a>
</div>

<div class="back-link">
    <a href="{{ url_for('department_list', dep=employee.department) }}">Zurück zur Mitarbeiterliste</a>
</div>

{% endblock %}