{% extends "layout.html" %}

{% block content %}
    <!-- Hier die Flash-Nachrichten anzeigen -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert alert-dismissible alert-{{ messages[0][0] }}">
                <ul class="list-unstyled mb-0">
                    {% for category, message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
            </div>
        {% endif %}
    {% endwith %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-2" style="min-height: 350px; overflow-y: auto;">
                    <div class="card-body">
                        <!-- Inhalt für die erste Karte -->
                        <h1 class="card-title">{{ employee.name }}</h1>
                        <p class="card-text"><strong>Abteilung:</strong> {{ employee.department }}</p>
                        <p class="card-text"><strong>Position:</strong> {{ employee.position }}</p>
                        <p class="card-text"><strong>OOC-Alter:</strong> {{ employee.ooc_age }}</p>
                        <p class="card-text"><strong>IG-Alter:</strong> {{ employee.ig_age }}</p>
                        <p class="card-text"><strong>Einstellungsdatum:</strong> {{ employee.hire_date.strftime('%d.%m.%Y') }}</p>
                        <p class="card-text"><strong>Kündigungsdatum:</strong> {{ employee.termination_date }}</p>
                        <p class="card-text"><strong>Discord Handle:</strong> {{ employee.discord_handle }}</p>
                    </div>
                </div>
                <!-- Hier die dritte Karte (Bild oder Inhalt) ohne Margin -->
                <div class="card flex-grow-1" style="max-height: 337px; overflow-y: hidden;">
                    <div class="card-body">
                        <!-- Inhalt für die dritte Karte (Bild) -->
                        <!-- Hier können Sie Ihr Bild oder andere Inhalte hinzufügen -->
                        <img src="{{ url_for('static', filename='images/diagram_beispiel.png') }}" alt="Beispiel-Diagramm" style="width: 100%; height: 85%;">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="max-height: 700px; overflow-y: auto;">
                    <div class="card-body">
                        <!-- Inhalt für die zweite Karte -->
                        <h2 class="card-title">Letzte Akteneinträge</h2>
                        <ul class="list-group">
                            {% for note in employee.notes|sort(attribute='created_at')|reverse %}
                                {% if loop.index <= 5 %}
                                    <li class="list-group-item">
                                        {{ note.creator_name.title() }} - {{ note.created_at.strftime('%d.%m.%Y %H:%M Uhr') }}:<br>
                                        {% if note.note_type == 'notiz' %}
                                            <span class="badge text-bg-primary">{{ note.note_type.capitalize() }}</span> {{ note.text }}
                                        {% elif note.note_type == 'negativ' %}
                                            <span class="badge text-bg-danger">{{ note.note_type.capitalize() }}</span> {{ note.text }}
                                        {% elif note.note_type == 'positiv' %}
                                            <span class="badge text-bg-success">{{ note.note_type.capitalize() }}</span> {{ note.text }}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <a class="btn btn-primary mt-3" href="#">Alle Einträge anzeigen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar" aria-label="Button toolbar">
                    <div class="btn-group mr-2" role="group">
                        <a class="btn btn-success" href="{{ url_for('add_employee_note', employee=employee.name, employee_id=employee_id) }}">Akteneintrag hinzufügen</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a class="btn btn-secondary mx-2" href="{{ url_for('department_list', dep=employee.department) }}">Zurück zur Mitarbeiterliste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
