{% extends "layout.html" %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    {% if departments %}
    <div class="table-container" style="min-width: 30%; border-radius: 10px; overflow: hidden;">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th class="custom-th">Abteilungen</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr class="text-center">
                    <td class="clickable" data-href="{{ url_for('department_list', dep=department) }}">
                        <a href="{{ url_for('department_list', dep=department) }}" class="link-custom">{{ department }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="text-center">
        <p class="h4">Keine Abteilungen vorhanden</p>
    </div>
    {% endif %}
</div>

<script>
    // JavaScript, um die gesamte Zelle anklickbar zu machen
    document.querySelectorAll(".clickable").forEach(function(cell) {
        cell.addEventListener("click", function() {
            window.location = this.getAttribute("data-href");
        });
    });
</script>
{% endblock %}
