{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Einstellungen</h2>

    <!-- Hier die Flash-Nachrichten anzeigen -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="input-container">
            <label>Abteilung hinzufügen</label>
            {{ form.department(class='input-field') }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>

<div class="container">
    <h3>Aktuelle Abteilungen</h3>
    {% if departments %}
        {% for department in departments %}
            <p>
                {{ department }}
                <a href="{{ url_for('delete_department', department=department) }}">
                    <span style="color: red; margin-left: 10px;">&#x2716;</span>
                </a>
            </p>
        {% endfor %}
    {% else %}
        <p>Keine Abteilungen gefunden.</p>
    {% endif %}
</div>

<div class="container">
    <h3>Benutzer freischalten</h3>
    {% if users_to_approve %}
        {% for user in users_to_approve %}
            <p>
                {{ user.username.title() }}
                <a href="{{ url_for('approve_user', user_id=user.id) }}">
                    <span style="color: green; margin-left: 10px;">&#x2714;</span>
                </a>
            </p>
        {% endfor %}
    {% else %}
        <p>Keine Nutzer zum freischalten.</p>
    {% endif %}
</div>


<div class="back-link">
    <a href="{{ url_for('index') }}">Zurück</a>
</div>

{% endblock %}
