{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Einstellungen</h2>

    <!-- Hier die Flash-Nachrichten anzeigen -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}" data-duration="{{ message.duration }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Nav-Tabs für Abteilungsmanagement und Usermanagement -->
    <ul class="nav nav-pills nav-tabs" id="settingsTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="departments-tab" data-toggle="tab" href="#departments" role="tab">Abteilungsmanagement</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab">Usermanagement</a>
        </li>
    </ul>

    <!-- Tab-Inhalt -->
    <div class="tab-content" id="settingsTabsContent">
        <div class="tab-pane fade mt-4 show active" id="departments" role="tabpanel">
            <!-- Hier den Inhalt für das Abteilungsmanagement-Tab  -->
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="input-container">
                    <label>Abteilung hinzufügen</label>
                    {{ form.department(class='input-field') }}
                </div>
                <div>
                    {{ form.submit() }}
                </div>
            </form>

            <h3 class="mt-5">Aktuelle Abteilungen</h3>
            {% if departments %}
                {% for department in departments %}
                    <p>
                        {{ department }}
                        <a href="{{ url_for('delete_department', department=department) }}">
                            <span style="color: red; margin-left: 10px;">&#x2716;</span>
                        </a>
                    </p>
                {% endfor %}
            {% else %}
                <p>Keine Abteilungen gefunden.</p>
            {% endif %}
        </div>

        <div class="tab-pane fade mt-4" id="users" role="tabpanel">
            <!-- Hier den Inhalt für das Usermanagement-Tab  -->
            <!-- Bereich zum User freischalten  -->
            <h3>Benutzer freischalten</h3>
            {% if users_to_approve %}
                {% for user in users_to_approve %}
                    <p>
                        {{ user.username.title() }}
                        <a href="{{ url_for('approve_user', user_id=user.id) }}">
                            <span style="color: green; margin-left: 10px;">&#x2714;</span>
                        </a>
                    </p>
                {% endfor %}
            {% else %}
                <p>Keine Nutzer zum freischalten.</p>
            {% endif %}

            <!-- Hier Bereich zum Benutzer verwalten  -->
            <h3 class="mt-4">Benutzer verwalten</h3>
            {% if users %}
                {% for user in users %}
                <p>
                    <a href="{{ url_for('user_detail', user_id=user.id) }}">{{ user.username.title() }}</a>
                </p>
                {% endfor %}
            {{ pagination.links }}
            {% else %}
                <p>Keine Registrierten Nutzer vorhanden.</p>
            {% endif %}
        </div>

    </div>

    <div class="back-link">
        <a href="{{ url_for('index') }}">Zurück</a>
    </div>
</div>

<script>
// Tab anzeige und speicherung
$(document).ready(function() {
    // Aktiviert die Bootstrap-Tabs
    $('#settingsTabs a').click(function(e) {
        e.preventDefault();

        // Holen Sie die ID der aktiven Registerkarte
        var activeTabId = $(this).attr('id');

        // Speichern Sie die ID der aktiven Registerkarte in einem Cookie oder localStorage
        localStorage.setItem('activeTab', activeTabId);

        // Aktualisieren Sie die Registerkartenanzeige
        $(this).tab('show');
    });

    // Überprüfen Sie, ob ein gespeicherter Wert für die aktive Registerkarte vorhanden ist
    var activeTabId = localStorage.getItem('activeTab');

    if (activeTabId) {
        // Setzen Sie die aktive Registerkarte basierend auf dem gespeicherten Wert
        $('#' + activeTabId).tab('show');
    }
});

</script>

{% endblock %}
